  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <% if @skip_layout != true %>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete ) %></li>
          <% end %>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"></i></a>
    </div>
  </nav>



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="header center white-text">Set Your Alarm</h3>
        <div class="row center">
          <h5 class="header col s12 light">Toggle on the information you'd like to wake up to</h5>
        </div>
        <div class="row center">
          <%= link_to "Register new device", new_devices_path, class: "btn-large waves-effect waves-light teal lighten-1"%>
        </div>
        <br>
      </div>
    </div>
    <div class="parallax"><%= image_tag "StockSnap_1"%></div>
  </div>


<div class="container">
 <div class="row">
   <form class="col s12" action="/users/<%=current_user.id%>" method="POST">
     <input type="hidden" name="_method" value="PUT">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

     <div class="row">
       <div class="input-field col s12">
         <label for="input_date">Date</label>
         <input id="input_date" class="datepicker" type="date" name="date">
       </div>
     </div>

     <div class="row">
       <div class="input-field col s12">
         <label for="input_endtime">Time</label><br />
         <input id="input_endtime" class="timepicker" type="time" name="user[time]">
       </div>
     </div>
     <br />

     <div class="row">
      <div class="col s12 m6">
       <div class="card grey darken-1">
        <div class="card-content white-text">
         <span class="card-title">Maps</span>
         <p>
          Blah blah directions blahhhhhhhhh
        </p><br>
        <input type="text" placeholder="your address" name="user[origin_location]">
        <input type="text" placeholder="your destination" name="user[destination_location]">
        <br>

        <label>Select your mode of transportation</label>
        <select name="user[mode]">
          <option value="" disabled selected>Choose your option</option>
          <option value="car">car</option>
          <option value="public transit">public transit</option>
          <option value="bicycle">bicycle</option>
        </select>
        <br>
        <label>If public transit, choose your preferred type</label>
        <select name="user[transit_mode]">
          <option value="" disabled selected>Choose your option</option>
          <option value="bus">bus</option>
          <option value="muni">muni</option>
          <option value="bart">bart</option>
        </select>
      </div>

      <div class="card-action">
       <% if @user.maps %>
       <div class="switch" unchecked><label>Off<input name="user[maps]" id="switch-is-on-1" type="checkbox" checked><span class="lever"></span>On</label>
       </div>
       <br>
       <% else %>
       <div class="switch">
         <label>
          Off
          <input type="checkbox" id="mycheckbox" name="user[maps]">
          <span class="lever"></span>
          On
        </label>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
 <div class="col s12 m6">
   <div class="card grey darken-1">
     <div class="card-content white-text">
       <span class="card-title">Weather</span>
       <p>
         Blah blah weather blahhhhhhhhh
       </p><br>
       <input type="text" placeholder="zip code" name="user[zip]">

     </div>
     <div class="card-action">
       <% if @user.weather %>
       <div class="switch" unchecked><label>Off<input name="user[weather]" id="switch-is-on" type="checkbox" checked><span class="lever"></span>On</label>
       </div>
       <br>
       <% else %>
       <div class="switch">
         <label>
           Off
           <input type="checkbox" id="mycheckbox" name="user[weather]">
           <span class="lever"></span>
           On
         </label>
       </div>
       <% end %>
     </div>
   </div>
 </div>


 <div class="row">
  <div class="col s12 m6">
   <div class="card grey darken-1">
     <div class="card-content white-text">
       <span class="card-title">News</span>
       <p>
         Blah blah current news blahhhhhhhhh
       </p><br>
     </div>
     <div class="card-action">
       <% if @user.news %>
       <div class="switch" unchecked><label>Off<input name="user[news]" id="switch-is-on-2" type="checkbox" checked><span class="lever"></span>On</label>
       </div>
       <br>
       <% else %>
       <div class="switch">
         <label>
           Off
           <input type="checkbox" id="mycheckbox" name="user[news]">
           <span class="lever"></span>
           On
         </label>
       </div>
       <% end %>
     </div>
   </div>
 </div>


<div class="row">
 <div class="col s12 m6">
   <div class="card grey darken-1">
     <div class="card-content white-text">
       <span class="card-title">Agenda</span>
       <p>
         Blah blah agenda blahhhhhhhhh
       </p><br>
     </div>
     <div class="card-action">
       <% if @user.calendar %>
       <div class="switch" unchecked><label>Off<input name="user[calendar]" id="switch-is-on-3" type="checkbox" checked><span class="lever"></span>On</label>
       </div>
       <br>
       <% else %>
       <div class="switch">
         <label>
           Off
           <input type="checkbox" id="mycheckbox" name="user[calendar]">
           <span class="lever"></span>
           On
         </label>
       </div>
       <% end %>
     </div>
   </div>
 </div>




</div>

<input class="waves-effect waves-light btn-large" type="submit" onclick="value_()">

</form>
</div>
</div>
